body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:881px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:540px;
  top:41px;
  width:341px;
  height:239px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:239px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:540px;
  top:0px;
  width:161px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u5 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:33px;
  top:113px;
  width:320px;
  height:575px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:575px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:80px;
  top:235px;
  width:140px;
  height:105px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:105px;
}
#u8 {
  position:absolute;
  left:2px;
  top:44px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:575px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:120px;
  width:320px;
  height:179px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:179px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:179px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:179px;
}
#u11 {
  position:absolute;
  left:2px;
  top:72px;
  width:175px;
  word-wrap:break-word;
}
#u9_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:179px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:256px;
  width:320px;
  height:179px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:179px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:104px;
  top:0px;
  width:179px;
  height:179px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:179px;
}
#u14 {
  position:absolute;
  left:2px;
  top:72px;
  width:175px;
  word-wrap:break-word;
}
#u12_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:179px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:5px;
  top:0px;
  width:308px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:496px;
  top:8px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:316px;
  top:126px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:881px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
  position:absolute;
  left:33px;
  top:113px;
  width:320px;
  height:575px;
}
#u7.a {
}
#u9.a {
  position:absolute;
  left:0px;
  top:120px;
  width:320px;
  height:179px;
}
#u10.a {
}
#u9_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u9_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u12.a {
  position:absolute;
  left:0px;
  top:256px;
  width:320px;
  height:179px;
}
#u13.a {
}
#u12_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u12_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u15.a {
}
#u6_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u6_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u17.a {
}
#u19.a {
}
